@font-face{font-family:'Archivo Black';font-weight:400;src:url('fonts/ArchivoBlack-400.woff2') format('woff2');}
@font-face{font-family:'Great Vibes';font-weight:400;src:url('fonts/GreatVibes-400.woff2') format('woff2');}
@font-face{font-family:'Archivo';font-weight:500;src:url('fonts/Archivo-500.woff2') format('woff2');}
@font-face{font-family:'Archivo';font-weight:700;src:url('fonts/Archivo-700.woff2') format('woff2');}
